<% include ./partials/header %>

<div class="ui main text container">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Team</th>
                <th>H/AB</th>
                <th>R</th>
                <th>HR</th>
                <th>RBI</th>
                <th>SB</th>
                <th>OPS</th>
            </tr>
        </thead>
        <tbody>
            <% hitters.forEach(function(hitter){ %>
                <tr>
                    <td><%= hitter.batter %></td>
                    <td><%= hitter.batter_pos %></td>
                    <td><%= hitter.batter_team %></td>
                    <td><%= hitter.HitsAB %></td>
                    <td><%= hitter.R %></td>
                    <td><%= hitter.HR %></td>
                    <td><%= hitter.RBI %></td>
                    <td><%= hitter.SB %></td>
                    <td><%= hitter.OPS %></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>

<% include ./partials/footer %>