<% include ./partials/header %>

<div class="ui main text container">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>H/AB</th>
                <th>R</th>
                <th>HR</th>
                <th>RBI</th>
                <th>SB</th>
                <th>OPS</th>
            </tr>
        </thead>
        <tbody>
            <% balls.forEach(function(ball){ %>
                <!-- Try using an if statement to check if it's a hitter -->
                <tr>
                    <td><%= ball.batter %></td>
                    <td><%= ball.batter_team %></td>
                    <td><%= ball.HitsAB %></td>
                    <td><%= ball.R %></td>
                    <td><%= ball.HR %></td>
                    <td><%= ball.RBI %></td>
                    <td><%= ball.SB %></td>
                    <td><%= ball.OPS %></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>

<% include ./partials/footer %>