<% include ./partials/header %>

<div class="ui main text container">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Team</th>
                <th>IP</th>
                <th>SV</th>
                <th>K</th>
                <th>ERA</th>
                <th>WHIP</th>
                <th>QS</th>
            </tr>
        </thead>
        <tbody>
            <% pitchers.forEach(function(pitcher){ %>
                <tr>
                    <td><%= pitcher.pitcher %></td>
                    <td><%= pitcher.pitcher_pos %></td>
                    <td><%= pitcher.pitcher_team %></td>
                    <td><%= pitcher.IP %></td>
                    <td><%= pitcher.SV %></td>
                    <td><%= pitcher.K %></td>
                    <td><%= pitcher.ERA %></td>
                    <td><%= pitcher.WHIP %></td>
                    <td><%= pitcher.QS %></td>
                </tr>
                <% }) %>
        </tbody>
</table>
</div>



<% include ./partials/footer %>